@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
    font-family: 'Commissioner', sans-serif;
  }
}

@layer utilities {
  .modal-active span:nth-of-type(1) {
    transform: translateY(0rem);
    rotate: 45deg;
    transition: transform 500ms, rotate 500ms 500ms;
  }

  .modal-active span:nth-of-type(2) {
    transform: translateY(0rem);
    rotate: -45deg;
    transition: transform 500ms, rotate 500ms 500ms;
  }
}